<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-md p-6 bg-white rounded-lg shadow"
  >
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Login</h2>
    <div>
      <label for="username" class="block font-semibold mb-1">Username</label>
      <input
        id="username"
        formControlName="username"
        type="text"
        class="w-full px-3 py-2 border rounded focus:outline-none mb-1"
        [ngClass]="{
          'border-red-500': submitted && loginForm.get('username')?.errors,
        }"
      />
      <div
        *ngIf="submitted && loginForm.get('username')?.errors"
        class="text-red-500 text-sm"
      >
        Username is required.
      </div>
    </div>

    <div class="mt-4">
      <label for="password" class="block font-semibold mb-1">Password</label>
      <div class="relative flex items-center">
        <input
          id="password"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          class="w-full pl-3 pr-10 py-2 border rounded focus:outline-none mb-1"
          [ngClass]="{
            'border-red-500': submitted && loginForm.get('password')?.errors,
          }"
        />
        <button
          type="button"
          class="absolute right-3 flex items-center text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 rounded-sm cursor-pointer mb-1"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
        >
          <i
            class="pi"
            [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
          ></i>
        </button>
      </div>
      <div
        *ngIf="submitted && loginForm.get('password')?.errors"
        class="text-red-500 text-sm"
      >
        Password is required.
      </div>
    </div>

    <div *ngIf="errorMessage" class="mt-4 text-red-600 font-semibold">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      class="auth-submit-btn w-full text-white p-2 rounded mt-6 disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <div class="mt-4 text-center text-sm text-gray-600">
      Not logged in?
      <a routerLink="/register" class="auth-link underline"> Register </a>
    </div>
  </form>
</div>
